/*elements*/

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 1;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin-right: 30px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

/*classes*/

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
}

.top-left {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid magenta;
    margin-left: 150px;

}

.top-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 150px;
    border: 2px solid magenta;
}

.header {
    background-color: #1F2937;
    display: flex;
    border: 2px solid magenta;
    justify-content: space-between;
}

.right {
    border: 2px solid magenta;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 148px;
    
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-left: 20px;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #F9FAF8;
}

.textOne {
    font-size: 48px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #F9FAF8;
    font-weight: 600;
    text-align: center;
}

.textOneHalf {
    font-size: 30px;
    color: #E5E7EB;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.textTwo {
    color: #E5E7EB;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    border: 2px solid magenta;
}

.textThree {
    border: 2px solid magenta;
    font-size: 48px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    text-align: center;
}

.boxOne,
.boxTwo,
.boxThree {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picText {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
}

.quotes {
    display: flex;
    background-color: #E5E7EB;
    justify-content: space-evenly;
    border: 2px solid magenta;
}

.quote {
    font-size: 50px;
    text-align: center;
    padding: 45px;
    color: #4e4a4a;
    
}

.orderBar {
    display: flex;
    border: 2px solid magenta;
    justify-content: space-between;
    background-color: #3882F6;

}

.lastText {
    border: 2px solid magenta;
    margin-left: 300px;
    color: #F9FAF8;
    padding: 20px;
}

.textFour {
    font-size: 30px;
    font-weight: 600;
}

.textFourHalf {
    font-size: 18px;
    margin-top: -15px;
}

/*individual items*/ 

#creepyHamburger {
    width: 80px;
    height: 80px;
}

#nastyPatty {
    width: 600px;
    height: 350px;
}

.orderOne {
    background-color: #3882F6;
    font-size: 24px;
    border-radius: 10px;
}

.orderTwo {
    background-color: #3882F6;
    font-size: 24px;
    margin-right: 500px;
    display: flex;
    align-self: center;
    padding: 10px;
    border: 2px solid #F9FAF8;
    border-radius: 10px;
}

#picOne {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 5px solid #3882F6;
}

#picTwo {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 5px solid #3882F6;
}

#picThree {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 5px solid #3882F6;
}

